.container {
  display: flex;
  gap: 8px;
  align-items: center;
}

.inputWrapper {
  display: flex;
  position: relative;
}

.input {
  background-color: var(--clr-bg-3);
  border-radius: 15px;
  padding: 8px 80px 8px 36px;
  color: var(--clr-line);

  &::placeholder {
    color: var(--clr-line-2);
    opacity: 1;
  }
}

.checkbox {
  cursor: pointer;
  accent-color: var(--clr-bg-button);
}

.image {
  position: absolute;
  width: 20px;
  height: 20px;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
}
