.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 40px;
  padding: 40px;
}

.imageContainer {
  width: 100%;
  display: flex;
  align-items: center;
  box-shadow: var(--shadow-2);
  padding: 20px;
}

.link {
  color: var(--clr-line);
}
