.booksContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 26px;
  width: 100%;
  padding: 20px;
  box-shadow: var(--shadow-1);
}

.title {
  font-size: 10px;
  margin: 40px;
}
