.button {
  color: var(--clr-line-button);
  box-shadow: var(--shadow-4);
  transition: all 0.2s ease;
  font-family: var(--ff-base);
  font-size: 95%;
  border: 1px solid transparent;
  padding: 4px 30px;
  align-items: center;
  cursor: pointer;

  &.primary {
    background-color: var(--clr-bg-button);
  }

  &.secondary {
    padding: 0;
    width: 16px;
    height: 16px;
    background: transparent;
    box-shadow: none;
  }

  &:hover {
    background-color: var(--clr-bg-1);
    color: var(--clr-hover);
  }

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }

  &:focus {
    outline: 1px solid var(--clr-focus-button);
    outline-offset: 1px;
  }

  &:focus-visible {
    outline: 1px solid var(--clr-focus-button);
    outline-offset: 1px;
  }
}

@media (max-width: 550px) {
  .button {
    font-size: 30%;
    padding: 2px 20px;
  }
}
