.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 6px;
  width: 100%;
  padding: 6px;
}

.infoWrapper {
  display: flex;
  height: 10px;
}

.weak {
  border: 2px solid var(--clr-error-1);
}

.medium {
  border: 2px solid var(--clr-error-2);
}

.strong {
  border: 2px solid var(--clr-error-3);
}
