.resultContainer {
  display: grid;
  align-items: center;
  grid-template:
    'titleName titleDescription titleImage' auto
    / 2fr 4fr 2fr;
  gap: 20px;
  box-shadow: var(--shadow-3);
  width: 100%;
  padding: 20px;
}
