.form {
  display: flex;
  align-items: center;
  flex-direction: column;
  box-shadow: var(--shadow-1);
  background-color: var(--clr-bg-2);
  width: 100%;
  gap: 30px;
  padding: 20px;
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.accept,
.gender {
  cursor: pointer;
  accent-color: var(--clr-hover);
}
