.container {
  display: flex;
  align-items: center;

  .toggleButton {
    background-image: url('../../assets/dark-theme//toggler-light.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    &.toggleLightButton {
      background-image: url('../../assets/light-theme//toggler-dark.svg');
    }

    &:hover {
      background-image: url('../../assets//hover/toggler-hover.svg');
    }
  }
}
