.container {
  display: flex;
  align-items: center;

  .toggleButton {
    background-image: url('/dark-theme/toggler-light.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    &.toggleLightButton {
      background-image: url('/light-theme/toggler-dark.svg');
    }

    &:hover {
      background-image: url('/hover/toggler-hover.svg');
    }
  }
}
