.book {
  display: flex;
  justify-content: space-between;
  gap: 80px;
  width: 100%;
  cursor: pointer;
}

.titleName {
  text-decoration: none;
  color: var(--clr-line);
}

.image {
  display: flex;
  justify-content: flex-end;

  img {
    height: 140px;
  }
}

.title,
.description {
  display: flex;
}

@media (max-width: 800px) {
  .image {
    display: flex;
    width: 100%;

    img {
      width: 40px;
      height: 80px;
    }
  }

  .title,
  .description,
  .image {
    font-size: 10px;
  }
}
