.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: fixed;
  top: 220px;
  box-shadow: var(--shadow-3);
  border-radius: 10px;
  background-color: var(--clr-bg-1);
  z-index: 1000;
  padding: 40px;
  width: 20%;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--clr-overlay);
  z-index: 900;
}

.imgContainer {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image {
  width: 90%;
}

.loadingTitle {
  font-size: 10px;
  font-weight: 300;
}
