.container {
  display: flex;
  justify-content: center;
  gap: 20px;
  width: 100%;
  padding: 14px;
}

.description {
  word-break: break-word;
  overflow-wrap: break-word;
  text-align: center;
  width: 100%;
  font-size: 9px;
  line-height: 1.4;
  padding: 10px;
}

.authors {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-style: italic;
}

.year {
  text-align: end;
  font-size: 8px;
  font-weight: 100;
}

@media (max-width: 400px) {
  .description {
    font-size: 4px;
  }

  .authors {
    font-size: 3px;
  }

  .year {
    text-align: end;
    font-size: 3px;
    font-weight: 100;
  }
}
