.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 20px;
  margin: 40px 0;
}

.gridDivider {
  grid-area: divider;
  border: 1px solid var(--clr-line);
  height: 1px;
  width: 100%;
}

.button {
  background-color: var(--clr-line);
  color: var(--clr-bg-1);
  cursor: pointer;
  box-shadow: var(--shadow-1);
  transition: all 0.2s ease;
  font-family: var(--ff-base);
  border: 1px solid transparent;
  border-radius: 5px;
  padding: 3px 40px;
  align-items: center;
}
