.checkboxWrapper {
  display: flex;
  gap: 6px;
}

.checkboxLabel {
  width: 30%;
  font-size: 9px;
}

.checkbox {
  width: 12px;
  height: 14px;
  cursor: pointer;
  accent-color: var(--clr-hover);
}
