.book {
  display: grid;
  grid-template-columns: subgrid;
  grid-column: 1 / -1;
  gap: 20px;
  width: 100%;
}

.titleName {
  grid-area: titleName;
}

.titleDescription {
  grid-area: titleDescription;
}

.name,
.description,
.image {
  display: flex;
  width: 100%;

  img {
    width: 100px;
    height: 140px;
  }
}

@media (max-width: 800px) {
  .image {
    display: flex;
    width: 100%;

    img {
      width: 50px;
      height: 90px;
    }
  }
}
