.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
  width: 90%;
  box-shadow: var(--shadow-4);
  padding: 8px;

  &.containerList {
    padding: 4px;
  }
}

.cell {
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: 1px solid var(--clr-border);
  color: var(--clr-bg-button);

  &.cellList {
    font-size: 12px;
    text-align: center;
    color: var(--clr-line);

    &:first-child {
      cursor: pointer;

      &:hover {
        background-color: var(--clr-hover);
        border-radius: 15px;
      }
    }
  }

  &.cellInfoList {
    color: var(--clr-line);
  }

  &:last-child {
    border-right: none;
  }
}
