.container {
  display: grid;
  grid-template-columns: 2fr 3fr 2fr;
  width: 90%;
  box-shadow: var(--shadow-4);
  padding: 8px;

  &.containerList {
    padding: 4px;
  }
}

.cell {
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: 1px solid var(--clr-border);
  font-size: 14px;
  color: var(--clr-bg-button);

  &.cellList {
    font-size: 12px;
    text-align: center;
    color: var(--clr-line);

    &:first-child {
      cursor: pointer;

      &:hover {
        background-color: var(--clr-hover);
        border-radius: 15px;
      }
    }
  }

  &:last-child {
    border-right: none;
  }
}
