.pokemon {
  display: grid;
  grid-template-columns: subgrid;
  grid-column: 1 / -1;
  gap: 20px;
}

.titleName {
  grid-area: titleName;
}

.titleDescription {
  grid-area: titleDescription;
}

.name,
.description {
  display: flex;
  align-items: center;
}

.image {
  display: flex;

  img {
    width: 100px;
    height: 100px;
  }
}
