.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  padding: 10px;
  gap: 20px;
}

.userCard {
  display: grid;
  align-items: center;
  background-color: var(--clr-bg-2);
  grid-template-columns: 1fr 2fr;
  flex-direction: column;
  width: 40%;
  box-shadow: var(--shadow-1);
  padding: 10px;
  gap: 10px;
}

.data {
  display: contents;
  font-style: italic;
}

.label {
  grid-column: 1;
}

.photo {
  width: 30%;
}
